<template>
  <div :ref="mapDivId" style="width: 100%; height: 400px;">
</div>
</template>

<script>
import View from "ol/View";
import Map from "ol/Map";
import TileLayer from "ol/layer/Tile";
import OSM from "ol/source/OSM";
import VectorLayer from "ol/layer/Vector";
import VectorSource from "ol/source/Vector";
import GeoJSON from "ol/format/GeoJSON";
import svenskakommuner from "../../../json/svenskalandskap.geo.json";
import { Style, Fill, Stroke, Text } from "ol/style";
import Stamen from "ol/source/Stamen";
import { transform } from "ol/proj.js";
import Select from "ol/interaction/Select.js";
import { click, pointerMove, altKeyOnly } from "ol/events/condition.js";

import "ol/ol.css";

export default {
  name: "MapContainer",
  components: {},
  props: {
    nextFeature: String
  },
  data: () => ({
    v: 1,
    olMap: null,
    vectorLayer: null,
    selectedFeature: null,
    isGuessCorrectValue: null,
    correctGuessesController: null,
    incorrectGuessesController: null,
    correctColor: [0, 255, 0],
    incorrectColor: [255, 0, 0],
    incorrectSource: new VectorSource({
      features: []//[this.$store.state.minigame.incorrectFeatures]
    })
  }),
  computed: {
    mapDivId: function(){
      return "mapDivId"//`${this.$store.state.minigame.round}_map`
    }
  },
    watch: {
    mapDivId(newCount, oldCount) {
      this.refresh()
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    refresh() {
      console.log(this.incorrectSource)
      //this.incorrectSource = null
      console.log("reefreshing")
      console.log(this.incorrectSource)
      this.$forceUpdate()
      this.init()
    },
    init() {

    console.log("Initialising!")
    var features = {
      type: "Feature",
      properties: {
        name: "default object",
        quality: "top"
      },
      geometry: {
        type: "Polygon",
        coordinates: [
          [
            [-27.0703125, 43.58039085560784],
            [-28.125, 23.563987128451217],
            [-10.8984375, 32.84267363195431],
            [-27.0703125, 43.58039085560784]
          ]
        ]
      }
    };

    var features = svenskakommuner.map(feature =>
      new GeoJSON().readFeature(feature, {
        featureProjection: "EPSG:3857"
      })
    );

    var vectorLayer2 = new VectorLayer({
      source: new VectorSource({
        features: features
      }),
      renderBuffer: 1000,
      style: new Style({
        stroke: new Stroke({
          color: "rgba(0,0,0,1)",
          width: 0.5
        }),
        fill: new Fill({color: 'rgba(0, 0, 0, 0)'})
      })
    });

    this.vectorLayer = new VectorLayer({
      source: new VectorSource({
        features: []
      })
    });

    var correctSource = new VectorSource({
      features: []
    });

    var correctLayer = new VectorLayer({
      source: correctSource,
      style: new Style({
        fill: new Fill({
          color: this.correctColor // semi-transparent red
        })
      })
    });

    var incorrectSource = new VectorSource({
      features: []//[this.$store.state.minigame.incorrectFeatures]
    });

    var incorrectLayer = new VectorLayer({
      source: incorrectSource,
      style: new Style({
        fill: new Fill({
          color: this.incorrectColor // semi-transparent red
        })
      })
    });

    this.olMap = new Map({
      target: this.$refs[this.mapDivId],//this.$refs["myTarget"],//this.$refs[this.mapDivId],
      layers: [
        new TileLayer({
          preload: 3,
          className: "bw",
          source: new Stamen({ layer: "watercolor" }),
          transitionEffect: "resize" //not sure if this has an effect
        }),
        this.vectorLayer,
        vectorLayer2,
        incorrectLayer,
        correctLayer
      ],
      view: new View({
        zoom: 4.1,
        center: transform([18.07, 62.80], "EPSG:4326", "EPSG:3857")
      })
    });


    //add select for styling
    var select = new Select({
      condition: pointerMove,
      layers: [vectorLayer2]
    });




    if (this.$isMobile()){
      var clickType = "click"
    } else {
      this.olMap.addInteraction(select);
      var clickType = "singleclick"
    }

    this.olMap.on(clickType, event => {
      const clickedFeature = this.olMap.forEachFeatureAtPixel(
        event.pixel,
        feature => feature, 
        { hitTolerance: "100"}
      );
      console.log(event.pixel)
      console.log(clickedFeature)
      if (clickedFeature !== undefined) {
        var region = clickedFeature.get("landskap")
        var nextRegion = this.$store.state.minigame.nextRegion //this updates

        if (this.$store.state.minigame.remainingRegions.includes(region)){
          this.$store.dispatch('minigame/processGuess', region)

          console.log(region)
          console.log(this.$store.state.minigame.nextRegion)

          if (region === nextRegion){
            console.log("Incorrect!")
            correctSource.addFeatures([clickedFeature])
          } else {
            incorrectSource.addFeatures([clickedFeature])
          }
        }

        console.log(clickedFeature)
        //this.$store.dispatch('minigame/appendFeature', clickedFeature)
      } else {
        console.log("Failed to click feature")
      }
    });

    //this.updateSource(this.geojson)
    },
    updateSource(geojson) {
      const view = this.olMap.getView();
      const source = this.vectorLayer.getSource();

      const features = new GeoJSON({
        featureProjection: "EPSG:3857"
      }).readFeatures(geojson);

      source.clear();
      source.addFeatures(features);

      view.fit(source.getExtent());
    }
  }
};
</script>

<style scoped lang="stylus">
@import '~ol/ol.css';

#mapOL {
  height: 400px;
  width: 100%;
}
</style> 