<template>
<div>
  <div class="row" v-if="$store.getters['minigame/numberGuessesMade'] > 0">
    <div class="col-6 text-center">
      <q-banner v="$store.getters['minigame/numberIncorrectRegions'] > 0" inline-actions class="text-white bg-green">
        <strong> {{ $store.getters['minigame/numberCorrectRegions'] }} </strong>
        <q-tooltip anchor="top middle" self="bottom middle" :offset="[0, 0]">
            {{ $store.state.minigame.incorrectRegions }}
        </q-tooltip>
    </q-banner>
    </div>
    <div class="col-6 text-center">
      <q-banner v="$store.getters['minigame/numberIncorrectRegions'] > 0" inline-actions class="text-white bg-red">
        <strong>{{ $store.getters['minigame/numberIncorrectRegions'] }} </strong>
        <q-tooltip anchor="top middle" self="bottom middle" :offset="[0, 0]">
            {{ $store.state.minigame.incorrectRegions }} 
        </q-tooltip>
    </q-banner>
    </div>
    </div>

    <q-banner v-else inline-actions class="text-white bg-teal">
        {{ $t('map.minigame.messagebox.instructions') }}
    </q-banner>
    </div>
    </div>
</template>

<script>
  export default {
    name: 'MessageBox',
  }
</script>

<style scoped>
  ul {
    list-style: none;
  }

  .fullwidth {
      width: 100%
  }
</style>