<template>

  <div class="row" v-if="$store.state.minigame.gameState === 'preGame'">
    <div class="col-6">
      <q-banner  class="text-white bg-teal fullwidth">
          High Score: <strong>{{ this.$store.state.minigame.highScore }}</strong>
    </q-banner>
    </div>
    <div class="col-6">
      <q-banner inline-actions class="text-white bg-teal fullwidth text-center">
            <q-btn flat color="white" :label="$t('map.minigame.missionbox.play')" @click="$store.dispatch('minigame/advanceGame')"/>
    </q-banner>
    </div>
  </div>

    <q-banner v-else-if="$store.state.minigame.gameState === 'inGame'" inline-actions class="text-white bg-teal">
      {{ $t('map.minigame.missionbox.find') }} <strong>{{ $store.state.minigame.nextRegion }}</strong>
      <template v-slot:action>
        <q-btn flat color="white" icon="refresh" @click="$store.dispatch('minigame/updateNextRegion')"/>
        <q-btn flat color="white" icon="check" @click="$store.dispatch('minigame/advanceGame')"/>
      </template>
    </q-banner>

    <q-banner v-else-if="$store.state.minigame.gameState === 'postGame'" inline-actions class="text-white bg-teal">
      Your score: <strong> {{ $store.getters['minigame/numberCorrectRegions'] }}/{{ $store.getters['minigame/maxScorePossible']  }}</strong> 
      <template v-slot:action>
           <q-space/>
        <q-btn flat color="white" label="RESTART" @click="$store.dispatch('minigame/advanceGame')"/>
      </template>
    </q-banner>
</template>

<script>
  export default {
    name: 'MissionBox'
  }
</script>

<style scoped>
  textarea {
    width: 100%;
    height: 100%;
    resize: none;
  }
</style>