<template>
  <q-card>
    <q-list dense>
      <q-item>
        <q-item-section avatar>
          <q-icon color="teal" name="wb_incandescent" />
        </q-item-section>
        <q-item-section>
          <q-slider v-model="sepia" :min="0" :max="100" label color="primary" />
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section avatar>
          <q-icon color="primary" name="dark_mode" />
        </q-item-section>
        <q-item-section>
          <q-slider v-model="grayscale" :min="0" :max="100" label color="primary" />
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section avatar>
          <q-icon color="primary" name="opacity" />
        </q-item-section>
        <q-item-section>
          <q-slider v-model="opacity" :min="0" :max="100" label color="primary" />
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section avatar>
          <q-icon color="primary" name="blur_on" />
        </q-item-section>
        <q-item-section>
          <q-slider v-model="blur" :min="0" :max="5" label color="primary" step="0.1" />
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section avatar>
          <q-icon color="primary" name="compare_arrows" />
        </q-item-section>
        <q-item-section>
          <q-slider v-model="invert" :min="0" :max="100" label color="primary" step="1" />
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section avatar>
          <q-icon color="primary" name="vignette" />
        </q-item-section>
        <q-item-section>
          <q-slider v-model="contrast" :min="0" :max="200" label color="primary" step="1" />
        </q-item-section>
      </q-item>
    </q-list>

    <q-tabs class="text-teal">
      <q-tab id="cycle-baselayer" label="Background" name="one">
        <input type="button" hidden flat />
      </q-tab>
      <q-tab id="toggle-terrain" label="Terrain" name="two">
        <input type="button" hidden flat />
      </q-tab>
      <q-tab id="fly-to-stockholm" label="Sthlm" name="three">
        <input type="button" hidden flat />
      </q-tab>
    </q-tabs>
    <q-separator />

    <div
      id="mapOL"
      :style="`--sepia: ${sepia}%; --grayscale: ${grayscale}%; --opacity: ${opacity}%; --blur: ${blur}px; --invert: ${invert}%; --contrast: ${contrast}%`"
    ></div>
    <div id="popup" class="ol-popup">
      <div id="popup-content"></div>
    </div>
    <q-tabs class="text-teal">
      <q-tab id="exportToPdf" label="Export to PDF" name="one">
        <input type="button" hidden flat />
      </q-tab>
    </q-tabs>

    </q-btn>
  </q-card>
</template>

<script>
// ol requires lots of imports
import Map from "ol/Map";
import View from "ol/View";
import TileLayer from "ol/layer/Tile";
import { click, pointerMove, altKeyOnly } from "ol/events/condition.js";
import OSM from "ol/source/OSM";
import Stamen from "ol/source/Stamen";
import { transform } from "ol/proj.js";
import Select from "ol/interaction/Select.js";
import VectorLayer from "ol/layer/Vector";
import VectorSource from "ol/source/Vector";
import GeoJSON from "ol/format/GeoJSON";
import LineString from "ol/geom/LineString";
import Overlay from "ol/Overlay";
import SelectControl from "ol/control";
import { toLonLat } from "ol/proj";
import { toStringHDMS } from "ol/coordinate";
import { Style, Fill, Stroke, Text } from "ol/style";
import MousePosition from "ol/control/MousePosition";
import { createStringXY } from "ol/coordinate";
import {
  FullScreen,
  Attribution,
  defaults as defaultControls,
  ScaleLine
} from "ol/control";
import svenskakommuner from "../../json/svenskakommunerskatt.geo.json";
import "ol-layerswitcher/dist/ol-layerswitcher.css";
import LayerSwitcher from "ol-layerswitcher";
import { BaseLayerOptions, GroupLayerOptions } from "ol-layerswitcher";
import { fromLonLat } from "ol/proj";
import {getPointResolution, get as getProjection} from 'ol/proj';
import domtoimage from 'dom-to-image-more';
import jsPDF from 'jspdf'

export default {
  name: "ToggleMap",
  data() {
    return {
      tab: "try",
      layerSwitcher: new LayerSwitcher({
        tipLabel: "Legend", // Optional label for button
        groupSelectStyle: "children" // Can be 'children' [default], 'group' or 'none'
      }),
      mousePositionControl: new MousePosition({
        coordinateFormat: createStringXY(2),
        projection: "EPSG:4326",
        className: 'ol-mouse-position',
      }),
      selectMode: "click",
      stockholmCoordinates: [18.07, 59.34],
      malmoCoordinates: [13.0, 55.61],
      goteborgCoordinates: [11.97, 57.71],
      map: {
        type: "Object",
        default: {}
      },
      target: "mapOL",
      sepia: 0,
      grayscale: 0,
      opacity: 100,
      blur: 0,
      invert: 0,
      contrast: 100,
      drawTerrain: false,
      activeBaseLayer: "watercolor",
      baseLayers: {
        watercolor: new Stamen({ layer: "watercolor" }),
        tonerLine: new Stamen({ layer: "toner-lines" }),
        tonerBg: new Stamen({ layer: "toner-background" }),
        toner: new Stamen({ layer: "toner" }),
        terrain: new Stamen({ layer: "terrain" }),
        terrainBg: new Stamen({ layer: "terrain-background" }),
        terrainLines: new Stamen({ layer: "terrain-lines" }),
        cartodark: new OSM({
          url: "http://{a-c}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png"
        }),
        standard: new OSM()
      }
    };
  },
  methods: {
    flyTo: function(city) {
      return "a";
    },
    drawMap: function() {
      let $vm = this;

      var features = svenskakommuner.map(feature =>
        new GeoJSON().readFeature(feature, {
          featureProjection: "EPSG:3857"
        })
      );

      var getStyle = function(feature, resolution) {
        return new Style({
          fill: new Fill({
            color: [
              (255 * (feature.get("taxrate") - 30)) / (35 - 30),
              255 - (255 * (feature.get("taxrate") - 30)) / (35 - 30),
              0,
              0.5
            ] // semi-transparent red
          }),
          stroke: new Stroke({
            color: "rgba(0,0,0,1)",
            width: 0.5
          })
        });
      };

      // a new vector layer is created with the feature
      const vectorLayerKommuner = new VectorLayer({
        title: "Tax rate",
        visible: false,
        source: new VectorSource({
          features: features
        }),
        style: function(feature, resolution) {
          return getStyle(feature, resolution);
        }
      });

      //for the popup
      var container = document.getElementById("popup");
      var content = document.getElementById("popup-content");

      var attribution = new Attribution({
        collapsible: true,
        collapsed: true
      });

      var overlay = new Overlay({
        element: container,
        autoPan: true,
        autoPanAnimation: {
          duration: 250
        }
      });

      var view = new View({
        center: transform(this.stockholmCoordinates, "EPSG:4326", "EPSG:3857"),
        zoom: 6,
        //constrainResolution: true,
        zoomFactor: 2
      });

      var activeBaseLayer = $vm.activeBaseLayer;
      var terrainLayer = new TileLayer({
        source: new Stamen({ layer: "terrain-labels" }),
        visible: false
      });

      var layers = [
        new TileLayer({
          preload: 3,
          className: "bw",
          source: new Stamen({ layer: activeBaseLayer }),
          transitionEffect: "resize" //not sure if this has an effect
        }),
        vectorLayerKommuner,
        terrainLayer
      ];

      var map = new Map({
        controls: defaultControls({attribution: false}).extend([
        new FullScreen(),
        attribution]),
        target: "mapOL",
        layers: layers,
        overlays: [overlay],
        view: view
      });

      //map.removeControl(map.controls[0]);

      //add things to map
      map.addControl(this.layerSwitcher);
      

      var select = new Select({
        condition: click
      });

      map.addInteraction(select);

      select.on("select", e => {
        if (e.selected.length > 0) {
          content.innerHTML = `${e.selected[0].get(
            "name"
          )}: ${e.selected[0].get("taxrate")}`;
          var coordinate = e.mapBrowserEvent.coordinate;
          overlay.setPosition(coordinate);
        }
      });

      function flyTo(location, done) {
        var duration = 15000;
        var zoom = view.getZoom();
        var parts = 2;
        var called = false;
        function callback(complete) {
          --parts;
          if (called) {
            return;
          }
          if (parts === 0 || !complete) {
            called = true;
            done(complete);
          }
        }
        view.animate(
          {
            center: location,
            duration: duration
          },
          callback
        );
        view.animate(
          {
            zoom: 1,
            duration: duration / 2
          },
          {
            zoom: 12,
            duration: duration / 2
          },
          callback
        );
      }

      function onClick(id, callback) {
        document.getElementById(id).addEventListener("click", callback);
      }

      onClick("fly-to-stockholm", function() {
        flyTo(fromLonLat($vm.stockholmCoordinates), function() {});
      });

      onClick("toggle-terrain", function() {
        terrainLayer.setVisible(!terrainLayer.getVisible());
        console.log("terrain");
      });

      onClick("cycle-baselayer", function() {
        //cycle through the values
        let keys = Object.keys($vm.baseLayers);
        let nextIndex = keys.indexOf(activeBaseLayer) + 1;
        console.log(keys);
        if (nextIndex == keys.length) {
          nextIndex = 0;
        }
        activeBaseLayer = keys[nextIndex];
        layers[0].setSource($vm.baseLayers[activeBaseLayer]);
      });
    




var scaleLine = new ScaleLine({bar: true, text: true, minWidth: 125});
map.addControl(scaleLine);


// export options for html-to-image.
// See: https://github.com/bubkoo/html-to-image#options
var exportOptions = {
  filter: function (element) {
    var className = element.className || '';
    return (
      className.indexOf('ol-control') === -1 ||
      className.indexOf('ol-scale') > -1 ||
      (className.indexOf('ol-attribution') > -1 &&
        className.indexOf('ol-uncollapsible'))
    );
  },
}

var exportButton = document.getElementById('exportToPdf');


var dims = {
  a0: [1189, 841],
  a1: [841, 594],
  a2: [594, 420],
  a3: [420, 297],
  a4: [297, 210],
  a5: [210, 148],
};


exportButton.addEventListener(
  'click',
  function () {
    console.log("Clicked")
    exportButton.disabled = true;
    document.body.style.cursor = 'progress';

    var format="a5"
    var resolution = "72"
    var scale = "10"
    var dim = dims[format];
    var width = Math.round((dim[0] * resolution) / 25.4);
    var height = Math.round((dim[1] * resolution) / 25.4);
    var viewResolution = map.getView().getResolution();
    var scaleResolution =
      scale /
      getPointResolution(
        map.getView().getProjection(),
        resolution / 25.4,
        map.getView().getCenter()
      );

    map.once('rendercomplete', function () {
      exportOptions.width = width;
      exportOptions.height = height;
      domtoimage
        .toJpeg(map.getViewport(), exportOptions)
        .then(function (dataUrl) {
          var pdf = new jsPDF('landscape', undefined, format);
          pdf.addImage(dataUrl, 'JPEG', 0, 0, dim[0], dim[1]);
          pdf.save('map.pdf');
          // Reset original map size
          scaleLine.setDpi();
          map.getTargetElement().style.width = '';
          map.getTargetElement().style.height = '';
          map.updateSize();
          map.getView().setResolution(viewResolution);
          exportButton.disabled = false;
          document.body.style.cursor = 'auto';
        });
    });

    // Set print size
    scaleLine.setDpi(resolution);
    map.getTargetElement().style.width = width + 'px';
    map.getTargetElement().style.height = height + 'px';
    map.updateSize();
    map.getView().setResolution(scaleResolution);
  },
  false
)
    }




  },
  mounted() {
    this.drawMap();
  }
};
</script>

<style scoped lang="stylus">
@import '~ol/ol.css';

#mapOL {
  height: 400px;
  width: 100%;
}
</style> 


<style>
.ol-mouse-position {
  background-color: #ffffff;
  font-size: smaller;
  font-weight: bold;
  left: 8px;
  bottom: 50px;
  top: auto;
  right: auto;
  position: absolute;
  height: 100px;
}
.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.mapOL {
  height: 400px;
  width: 100%;
}
.bw {
  filter: invert(var(--invert)) grayscale(var(--grayscale)) sepia(var(--sepia))
    opacity(var(--opacity)) blur(var(--blur)) contrast(var(--contrast));
}
</style>