<template>

<div class="col">
    <div class="q-pa-md">
    <q-scroll-area 
     id="chatBox"
      style="height: 400px; max-width: 300px; width: 300px"
      visible   
       >

    <div>
    <q-chat-message
        v-for="message in messages"
        :key="message.id"
        :text="message.text"
        :sent="message.sent"
        :avatar="message.avatar"
      />
    </div>

        <div>
        <q-spinner-comment
            v-if="ErikWrites"
            color="secondary"
            size="2em"
        />
        </div>
    </q-scroll-area>

  </div>
      <q-form 
      @submit="submit"
      class="q-gutter-md q-pa-md"
      >
      <q-separator/>

    <q-input
      v-model="chatText"
      borderless
      autogrow
      outlined
      dense
      @keypress.enter="submit"
      @keydown.enter.prevent="submit"
      standout
      bottom-slots
      label="Write message..."
    >

    <template v-slot:after>
          <q-btn 
          round
          dense 
          flat 
          @click="submit"
          icon="send" />
        </template>
    </q-input>


    </q-form>
</div>


</template>
<script>
import AWS from 'aws-sdk'
import { SessionStorage, scroll } from 'quasar'
import { v4 as uuidv4 } from 'uuid';
import config from '../../js/config.js'


const { getScrollPosition, setScrollPosition, getScrollTarget } = scroll

export default {
    data() {
        return {
            thumbStyle: {
                right: '4px',
                borderRadius: '5px',
                backgroundColor: '#027be3',
                width: '5px',
                opacity: 0.75
            },

            barStyle: {
                right: '2px',
                borderRadius: '9px',
                backgroundColor: '#027be3',
                width: '9px',
                opacity: 0.2
            },
            chatText: "",
            answerText: "",
            ErikWrites: true,
            messages: [ ]
        }
    },
    created() {
        this.$q.sessionStorage.set('LexUser', uuidv4())
        this.$q.sessionStorage.set('LexSession', uuidv4())
    },
    async mounted() {
        this.ErikWrites = true
        await this.write(
            "Hey, this is Erik!",
            "Erik",
            4000
            )


        await this.write(
            `To be honest, this is not the real Erik. But you are smart, 
            so you probably knew that already! You are actually talking to a chatbot hosted on AWS Lex.`,
            "Erik",
            10000,
            )

        
        await this.write(
            `By the way, the person in your picture was found on Unsplash.
            Check it out if you need great (and free) pictures for something!`,
            "Erik",
            7000,
            )

        await this.write(
            "So, who am I talking to?",
            "Erik",
            6000
            )

        this.ErikWrites = false

    },
    methods: {
        scrollHandler: function(){ //this method is not working right now...
            var el2 = document.getElementById("chatBox"); // Or whatever method to get the element
            var el = getScrollTarget(el2)
            el.scrollTop = el.scrollHeight;
        },
        submit: function(text){
            this.write(this.chatText, name="Me")
            this.callErik(this.chatText)
            this.chatText = ""
        },
        write: async function(text, name, delay=0){
            await new Promise(r => setTimeout(r, delay)); //send message with a delay
            
            if (name == "Erik"){
                var avatar = "erik.jpeg"
            } else {
                var avatar = "randomperson.jpeg"
            }
            
            if (this.messages.length == 0){
                this.messages.push(
                    {
                    "id": 1,
                    "name": name,
                    "text": [text],
                    "sent": name == "Me",
                    "avatar": avatar
                    },
                )
            } else {
                let lastSenderName = this.messages[this.messages.length -1].name
                if (name == lastSenderName){
                    this.messages[this.messages.length -1].text.push(text)
                } else {
                    this.messages.push(
                        {
                        "id": this.messages[this.messages.length -1].id + 1,
                        "name": name,
                        "text": [text],
                        "sent": name == "Me",
                        "avatar": avatar
                        },
                    )
                }
            }

        this.scrollHandler();

        },

        callErik: async function(text){
            await new Promise(r => setTimeout(r, 500)); //simulate Erik sleeping
            this.ErikWrites = true //simulate Erik writing
            var AWS = require("aws-sdk")

            AWS.config = new AWS.Config()
            AWS.config.region = "eu-west-1"

            AWS.config.credentials = new AWS.CognitoIdentityCredentials(
                {
                    IdentityPoolId: config.AWSIdentityPoolId
                })

            var lexRuntime = new AWS.LexRuntime();

            var params = {
                botAlias: 'PersonalWebsiteLex', /* required, has to be '$LATEST' */
                botName: 'PersonalWebsite', /* required, the name of you bot */
                inputText: text, /* required, your text */
                userId: this.$q.sessionStorage.getItem('LexUser'), /* required, arbitrary identifier */
                sessionAttributes: {
                    someKey: this.$q.sessionStorage.getItem('LexSession'),
                    /* anotherKey: ... */
            }};

            lexRuntime.postText(params, (err, data) => {
            if (err) {
                console.log(err, err.stack)
            }
            else {
                this.answerText = data.message;
                return data
            }})

            await new Promise(r => setTimeout(r, 2000)); //simulate Erik sleeping
            this.ErikWrites = false //finish pretend writing
            this.write(text = this.answerText, name="Erik")
        },
    },
}
</script>

<style lang="sass" scoped>

</style>