<template>
  <div>
    {{ $t('randomwidgets.howmuchwouldisave.1') }}
    <input
      v-model.number="start_capital"
      type="number"
      style="max-width: 70px"
    />

    {{ $t('randomwidgets.howmuchwouldisave.2') }}
    <input
      v-model.number="monthly_invest"
      type="number"
      style="max-width: 70px"
    />

    {{ $t('randomwidgets.howmuchwouldisave.3') }}
    <input
      v-model.number="years"
      type="number"
      style="max-width: 38px"
    />

    {{ $t('randomwidgets.howmuchwouldisave.4') }}
    <input
      v-model.number="interest"
      type="number"
      style="max-width: 38px"
    /> 
    {{ $t('randomwidgets.howmuchwouldisave.5') }}

   ${{ final_capital }}
    {{ $t('randomwidgets.howmuchwouldisave.6') }}



  </div>
</template>

<script>
export default {
  data () {
    return {
      start_capital: 0,
      years: 10,
      interest: 5,
      monthly_invest: 100
    }
  },
  computed: {
    final_capital: function() {
      let result = this.start_capital*(1+(this.interest/(12*100)))**(12.0*this.years) + this.monthly_invest * 
      (((1+this.interest/(12*100))**(12*this.years)-1)/(this.interest/(12*100)))

      return Math.round(result)
    }
  }
};


</script>

<style lang="sass" scoped>

</style>