<template>
<div class="col">
<div>
    <q-form 
      @submit="submit"
      class="q-gutter-md q-pa-md"
      >

    <q-input
      v-model="textToTranslate"
      filled
      autogrow
    />
    <q-select filled v-model="targetLanguageCode"  :options="targetLanguageCodes" :label="$t('randomwidgets.translate.translateToLabel')" />

    <q-btn :label="$t('randomwidgets.translate.buttonLabel')" type="submit" color="primary"/>
    </q-form>
</div>
<q-separator/>
<div class="q-pa-md">
    <q-input
      v-model="translatedText"
      filled
      autogrow
    />
    </div>
<div class="q-pa-md">
    <audio id="audioPlayback"
        controls :src="audioSrc">
    </audio>

</div>
<div>
</div>
</div>
</template>

<script>
import AWS from 'aws-sdk'
import config from '../../js/config.js'

export default {
    data() {
        return {
            textToTranslate: this.$t('randomwidgets.translate.textToTranslate'),
            translatedText: "",
            targetLanguageCode: "sv",
            targetLanguageCodes: ["sv", "ar", "de", "ro", "zh"],
            audioSrc: ""
        }
    },
    methods: {
        updateTranslatedText: function(text){
            this.translatedText = text
            return 
        },
        submit: function(text, targetLanguageCode){
            this.translate(this.textToTranslate, this.targetLanguageCode)
            this.polly(this.translatedText, this.targetLanguageCode)

        },
        polly: async function(text, targetLanguageCode){
            await new Promise(r => setTimeout(r, 1000));
            text = this.translatedText
            targetLanguageCode = this.targetLanguageCode
            
            AWS.config = new AWS.Config()
            AWS.config.region = "eu-west-1"
            AWS.config.credentials = new AWS.CognitoIdentityCredentials(
                {
                    IdentityPoolId: config.AWSIdentityPoolId
                })


            var voiceId = ""

            if (targetLanguageCode == "de"){
                var voiceId = "Vicki"
            } else if (targetLanguageCode == "sv"){
                var voiceId = "Astrid"
            } else if (targetLanguageCode == "ar"){
                var voiceId = "Zeina"
            } else if (targetLanguageCode == "ro"){
                var voiceId = "Carmen"
            } else if (targetLanguageCode == "zh"){
                var voiceId = "Zhiyu"
            }

            var params = {
                OutputFormat: "mp3", 
                SampleRate: "16000", 
                Text: text, 
                TextType: "text", 
                VoiceId: voiceId
                };

            var polly = new AWS.Polly({apiVersion: '2016-06-10'})



            polly.synthesizeSpeech(params, (err, data) => {
            if (err) {
                console.log(err, err.stack)
            }
            else {

                var uInt8Array = new Uint8Array(data.AudioStream)
                var arrayBuffer = uInt8Array.buffer
                var blob = new Blob([arrayBuffer])
                var url = URL.createObjectURL(blob)
                this.audioSrc = url;
                var audio = document.getElementById('audioPlayback');
                audio.load();

                return data
            }})
            

        },
        translate: function(text, targetLanguageCode){
            text = this.textToTranslate
            targetLanguageCode = this.targetLanguageCode
            var AWS = require("aws-sdk")

            AWS.config = new AWS.Config()
            AWS.config.region = "eu-west-1"
            AWS.config.credentials = new AWS.CognitoIdentityCredentials(
                {
                    IdentityPoolId: config.AWSIdentityPoolId
                })


            var translate = new AWS.Translate()

            var params = {
                SourceLanguageCode: 'auto',
                TargetLanguageCode: targetLanguageCode,
                Text: text
                }

        

            translate.translateText(params, (err, data) => {
            if (err) {
                console.log(err, err.stack)
            }
            else {
                this.translatedText = data.TranslatedText
                return data
            }})
        },
    },
}
</script>

<style lang="sass" scoped>

</style>