<template>
<div>
<p>
{{ $t('randomwidgets.weather.temperatureNowText') }}
<q-avatar color="primary" text-color="white">{{ temperature }}&deg; </q-avatar>
</p>

<p>
  {{ $t('randomwidgets.weather.temperatureTomorrowText') }}
<q-avatar color="secondary" text-color="white">{{ temperature_tomorrow }}&deg; </q-avatar>
</p>

  <div class="q-pa-md">
    <q-list bordered separator style="max-width: 318px">
        <q-item clickable v-ripple>
        <q-item-section><strong>{{ $t('randomwidgets.weather.pollutantHeader') }}</strong></q-item-section>
        <q-space/>
        <q-item-section><strong>{{ $t('randomwidgets.weather.concentrationHeader') }}</strong></q-item-section>
      </q-item>
      <q-item clickable v-ripple>
        <q-item-section>{{ $t('randomwidgets.weather.pollutants.co') }}</q-item-section>
        <q-space/>
        <q-item-section>{{ air_pollution.co }} μg/m³</q-item-section>
      </q-item>

    <q-item clickable v-ripple>
        <q-item-section>{{ $t('randomwidgets.weather.pollutants.no') }}</q-item-section>
        <q-space/>
        <q-item-section>{{ air_pollution.no }} μg/m³</q-item-section>
      </q-item>

    <q-item clickable v-ripple>
        <q-item-section>{{ $t('randomwidgets.weather.pollutants.no2') }}</q-item-section>
        <q-space/>
        <q-item-section>{{ air_pollution.no2 }} μg/m³</q-item-section>
      </q-item>

    <q-item clickable v-ripple>
        <q-item-section>{{ $t('randomwidgets.weather.pollutants.o3') }}</q-item-section>
        <q-space/>
        <q-item-section>{{ air_pollution.o3 }} μg/m³</q-item-section>
      </q-item>

    </q-list>
  </div>


<p>
   {{ $t('randomwidgets.weather.informationalText') }} <a href="https://api.openweathermap.org">https://api.openweathermap.org</a>.
</p>
</div>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            OPENWEATHER_API_KEY: "57c5b51e72c07c6eed27506e9e90cb14",
            temperature: "",
            temperature_tomorrow: "",
            air_pollution: {
                "co": "",
                "no": "",
                "no2": "",
                "o3": "",
                "so2": ""
            }
        }
    },
    mounted() {
        axios
        .get(`https://api.openweathermap.org/data/2.5/weather?q=Stockholm&appid=${this.OPENWEATHER_API_KEY}`)
        .then(response => (this.temperature = Math.round(response.data.main.temp - 273.15)))
        
        axios
        .get(`https://api.openweathermap.org/data/2.5/onecall?lat=59.3293&lon=18.0686&exclude=current,minutely,hourly,alerts&appid=${this.OPENWEATHER_API_KEY}`)
        .then(response => (this.temperature_tomorrow = Math.round(response.data.daily[1].temp.day - 273.15)))
        
        axios
        .get(`https://api.openweathermap.org/data/2.5/air_pollution?lat=59.3293&lon=18.0686&appid=${this.OPENWEATHER_API_KEY}`)
        .then(response => (this.air_pollution = response.data.list[0].components))
    }
}
</script>

<style lang="sass" scoped>

</style>