<template>
  <q-page>


    <div v-if="this.$q.screen.width > 1200">
      <div>
      <div class="row q-col-gutter-md">
        <div class="col-4 q-gutter-md">
          <Randomwidgets />
          <Map />
          <Thingsilike />
          <AwsInfrastructure />
        </div>
        <div class="col-4 q-gutter-md">
                <Linkedin />
          </div>
        <div class="col-4 q-gutter-md">
           <MathArt />
          <Timeline />
        </div>
      </div>
    </div>
    </div>

    <div v-if="this.$q.screen.width <= 1200">
      <div class="col-4"></div>
      <div class="col-4 q-gutter-y-md">
        <div class="row justify-center">
            <Linkedin />
        </div>

        <div class="row justify-center">
            <Randomwidgets />
        </div>

        <div class="row justify-center">
            <Map  />
        </div>

          <div class="row justify-center">
             <MathArt />
        </div>

        <div class="row justify-center">
            <Thingsilike />
        </div>

        <div class="row justify-center">
            <Timeline />
        </div>

          <div class="row justify-center">
            <AwsInfrastructure />
        </div>

        <div class="col-4"></div>
      </div>
    </div>
  </q-page>
</template>



<script>
export default {
  components: {
    MathArt: require("components/MathArt.vue").default,
    Map: require("components/Map.vue").default,
    AwsInfrastructure: require("components/AwsInfrastructure.vue").default,
    Linkedin: require("components/Linkedin.vue").default,
    Timeline: require("components/Timeline.vue").default,
    Thingsilike: require("components/ThingsILike.vue").default,
    Randomwidgets: require("components/RandomWidgets.vue").default,
    Language: require("components/Language.vue").default,
  },
};
</script>



<style lang="sass" scoped>
.my-card
  max-width: 600px
  min-width: 360px
  background-color: rgba(255,255,255,0.8)
  padding: 10px
</style>