<template>
  <q-card class="my-card">
      <q-card-section>
        <div class="text-h6">{{ $t("awsinfrastructure.title") }} </div>
        <div class="text-subtitle2">
            {{ $t("awsinfrastructure.subtitle") }} 
            </div>
      </q-card-section>

    <div class="aws-img" v-viewer="options">
      <img class="aws-img" src="aws-infrastructure-thumbnail.png" data-src="aws-infrastructure.png">
    </div>


    </q-card>
</template>

<script>
export default {
  data() {
    return {
      slide: 'first',
      options: {
        url: 'data-src',
        title: false,
        navbar: false,
        toolbar: false
      },
      tab: 'zero',
    }
  },
}
</script>

<style lang="sass" scoped>
.aws-img
  max-width:100%
  max-height:100%

.custom-caption
  text-align: center
  padding: 12px
  color: white
  background-color: rgba(0, 0, 0, .3)

</style>