<template>
    <q-btn round @click="switchLanguage" size="0px" img="sv.png">
          <q-avatar size="20px">
    <img :src="flag">
  </q-avatar>

    </q-btn>
</template>


<script>
export default {
  data () {
    return {
      lang: 'en',
      langOptions: [
        {
          label: 'Svenska',
          value: 'sv',
          flag: 'se'
        },
        {
          label: 'English',
          value: 'en-us',
          flag: 'gb',
        },
      ]
    }
  },
  watch: {
    lang(lang) {
      this.$i18n.locale = lang
    }
  },
  methods: {
      switchLanguage(){
          if (this.lang == 'sv'){
              this.lang = 'en-us'
          } else {
              this.lang = 'sv'
          }
      },
  },
  computed: {
    flag(){
          if (this.lang == 'sv'){
              return "sv.png"
          } else {
              return "gb.png"
          }
      }
  }
}
</script>

<style lang="sass">
</style>