<template>
  <q-card class="my-card">
    <q-card-section>
      <div
        class="LI-profile-badge"
        data-version="v1"
        data-size="large"
        data-locale="en_US"
        data-type="horizontal"
        data-theme="light"
        data-vanity="erik-thornblad"
      >
        <a
          class="LI-simple-link"
          href="https://se.linkedin.com/in/erik-thornblad?trk=profile-badge"
        >Erik Thörnblad</a>
      </div>

    </q-card-section>
  </q-card>
</template>

<script>
export default {};
</script>

<style scoped>
</style>