<template>
  <q-card class="my-card">
    <q-card-section>
      <div class="text-h6">{{ $t("map.title") }}</div>
      <div class="text-subtitle2">{{ $t("map.subtitle") }}</div>
    </q-card-section>

    <q-card-section>
      <q-tabs v-model="tab" 
        outside-arrows
        mobile-arrows
        dense
      class="text-teal">
        <q-tab icon="language" :label="$t('map.tabs.minigame')"  name="mapMiniGame" />
        <q-tab icon="map" :label="$t('map.tabs.custommap')" name="customisableMap" />
      </q-tabs>

      <q-tab-panels v-model="tab" animated> 
          <q-tab-panel name="mapMiniGame">
            <MiniGame/>
          </q-tab-panel>  

          <q-tab-panel name="customisableMap">
            <CustomisableMap/>
          </q-tab-panel>


      </q-tab-panels>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  data() {
    return {
      tab: 'mapMiniGame',
    }
  },
  components: {
    CustomisableMap: require("components/Maps/CustomisableMap.vue").default,
    MiniGame: require("components/Maps/MiniGame.vue").default,
  },
}
</script>