<template>
  <q-card class="my-card">
    <q-card-section>
      <div class="text-h6">{{ $t("mathart.title") }}</div>
      <div class="text-subtitle2">{{ $t("mathart.subtitle") }}</div>
    </q-card-section>

    <q-card-section>
      <div class="images" v-viewer>
        <img class="images" src="mathart/africa-1.png"/>
        <img hidden class="images" src="mathart/africa.png"/>
        <img hidden class="images" src="mathart/europe-white.png"/>
        <img hidden class="images" src="mathart/shanghai.png"/>
        <img hidden class="images" src="mathart/shanghai_2.png"/>
        <img hidden class="images" src="mathart/shanghai_3.png"/>
        <img hidden class="images" src="mathart/shanghai_4.png"/>
        <img hidden class="images" src="mathart/nops.png"/>
        <img hidden class="images" src="mathart/southamerica.png"/>
        <img hidden class="images" src="mathart/australia.png"/>
        <img hidden class="images" src="mathart/pyramids.png"/>
    </div>
    </q-card-section>
  </q-card>
</template>

<script>
import 'viewerjs/dist/viewer.css'
  import Viewer from 'v-viewer'
  import Vue from 'vue'
  Vue.use(Viewer)
export default {
  data() {
    return {
      tab: 'src',
        options: {
        url: 'data-src',
        title: false,
        navbar: true,
        toolbar: true,
        inline: false,
        fullscreen: true
      },
    }
  },
  components: {
    PoissonRectangles: require("components/MathArt/PoissonRectangles.vue").default,
    CircleArt: require("components/MathArt/CircleArt.vue").default
  },
}
</script>

<style lang="sass" scoped>
.images
  max-width:100%
  max-height:100%
</style>