<template>
  <q-card class="my-card">
      <q-card-section>
        <div class="text-h6">{{ $t("randomwidgets.title") }} </div>
        <div class="text-subtitle2">
            {{ $t("randomwidgets.subtitle") }} 
            </div>
      </q-card-section>


      <q-tabs v-model="tab" 
        outside-arrows
        mobile-arrows
        dense
      class="text-teal">
        <q-tab icon="chat" label="AWS"  name="one" />
        <q-tab icon="language" label="AWS"  name="two" />
        <q-tab icon="brightness_4" label="API" name="three" />
        <q-tab icon="euro" label="JS" name="four" />
      </q-tabs>

      <q-separator />

      <q-tab-panels v-model="tab" animated>   
          <q-tab-panel name="one">
            <Chat/>       
          </q-tab-panel>

        <q-tab-panel name="two">
            <Translate/>
        
        </q-tab-panel>

        <q-tab-panel name="three">
            <Weather/>
        </q-tab-panel>

        <q-tab-panel name="four">
            <Howmuchwouldisave/>
        </q-tab-panel>

      </q-tab-panels>
    </q-card>
</template>

<script>
export default {
  data() {
    return {
      tab: 'one',
    }
  },
  components: {
    Chat: require("components/Widgets/Chat.vue").default,
    Howmuchwouldisave: require("components/Widgets/HowMuchWouldISave.vue").default,
    Weather: require("components/Widgets/Weather.vue").default,
    Translate: require("components/Widgets/Translate.vue").default,
  },
}
</script>

<style lang="sass" scoped>

</style>