<template>
     <q-carousel
        v-model="slide"
        transition-prev="scale"
        transition-next="scale"
        swipeable
        animated
        infinite
        :autoplay="autoplay"
        @mouseenter="autoplay = false"
        @mouseleave="autoplay = true"
        control-color="secondary"
        navigation
        padding
        arrows
        height="300px"
        class="my-card shadow-1 rounded-borders"
      >

        <q-carousel-slide 
            v-for="item in carousel_items"
            :name="item.name" 
            class="column no-wrap flex-center"
            :key="item.name">
          <img :src="item.icon" class="carousel-img"/>
          <div class="q-mt-md text-center">
            {{ item.content }}
          </div>
        </q-carousel-slide>
      </q-carousel>

</template>

<script>
export default {
  data() {
    return {
      slide: 'Python',
      autoplay: true,
    }
  },
  computed: {
    carousel_items(){ 
      return [
          {
              "name": "Python",
              "content": this.$t('thingsilike.content.python'),
              "icon": "thingsilike/python.svg"
          },
          {
              "name": "Airflow",
              "content": this.$t('thingsilike.content.airflow'),
              "icon": "thingsilike/airflow.png"
          },
          {
              "name": "Vue",
              "content": this.$t('thingsilike.content.vue'),
              "icon": "thingsilike/vuejs.svg",
          },
          {
              "name": "Quasar",
              "content": this.$t('thingsilike.content.quasar'),
              "icon": "thingsilike/quasar.svg"
          },
          {
              "name": "Docker",
              "content": this.$t('thingsilike.content.docker'),
              "icon": "thingsilike/docker.png"
          },
          {
              "name": "AWS",
              "content": this.$t('thingsilike.content.aws'),
              "icon": "thingsilike/aws.png"
          },
          {
              "name": "OpenLayers",
              "content": this.$t('thingsilike.content.openlayers'),
              "icon": "thingsilike/openlayers.png"
          },
          {
              "name": "Paper.js",
              "content": this.$t('thingsilike.content.paperjs'),
              "icon": "thingsilike/paperjs.png"
          }
      ]
    }
  }
};
</script>

<style lang="sass" scoped>

.carousel-img 
  width: 125px
  height: auto
</style>