<template>
          <q-card class="my-card">
            <q-card-section>

            <div class="text-h6">{{ $t('timeline.header') }}</div>
              <q-timeline color="secondary">
                <q-timeline-entry
                  v-for="entry in timeline"
                  :title="entry.title"
                  :subtitle="entry.dates"
                  :key="entry.description"
                  :icon="entry.icon"
                  :color="entry.color"
                  :avatar="entry.avatar"
                >
                <span v-html="entry.description"></span>
                </q-timeline-entry>
              </q-timeline>
            </q-card-section>
            
          </q-card>
</template>

<script>
export default {
  computed: {
    timeline() {
      return this.$t('timeline.content')
    }
  }
}
</script>

<style scoped>
</style>