<template>
  <div id="q-app" @dragover.prevent @drop.prevent>
    <router-view />
  </div>
</template>
<script>
export default {
  name: 'App'
}
</script>

<style>
 .text-strikethrough {
   text-decoration: line-through;
 }
</style>