<template>
  <div>
    <div @drop="drop">

        <q-img :src="rasterSrc" class="raster-input">
          <q-icon class="absolute all-pointer-events" size="32px" name="info" color="white" style="bottom: 8px; right: 8px">
            <q-tooltip>
              By Elnaz Asadi on unsplash.com
            </q-tooltip>
          </q-icon>
          </q-img>



    </div>
    <q-banner class="bg-teal text-white text-center">
      <div class="row">
        <div class="col-6">
          <q-btn flat @click="redraw" label="Apply" />
        </div>
        <div class="col-6">
          <q-btn flat @click="exportToSvg" label="Export" />
        </div>
      </div>
    </q-banner>
    <div>
      <div v-if="showPrerenderedImage">
        <q-img :src="prerenderedImageSource" />
      </div>
      <div v-else class="raster-output">
        <canvas id="myCanvas" resize="true"></canvas>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import paper from "paper";
import Vue from "vue";
import FileSaver from "file-saver";

export default Vue.extend({
  data() {
    return {
      rasterScale: 1,
      showPrerenderedImage: true,
      prerenderedImageSource: "mathart/buttons1000.svg",
      resolution: 15000,
      rasterSrc: "mathart/buttons.jpeg",
      exportedSvg: "",
      exportedHref: "",
      zoom: 1,
      scale: 1,
      debug: false,
      outerRadius: 15,
      innerRadius: 10
    };
  },
  watch: {
    rasterSrc: function(newRasterSrc, oldRasterSrc) {
      this.assignDimensions(newRasterSrc);
    },
    nBoxes: function(newRasterSrc, oldRasterSrc) {
      this.redraw();
    }
  },
  methods: {
    setExportSvgSrc: function(text) {
      this.exportedSvg = text;
      this.exportedHref =
        "data:image/svg+xml;utf-8," + encodeURIComponent(this.exportedSvg);
    },
    exportToSvg: function(event) {
      var fileName = "custom.svg";
      var url = this.exportedHref;
      var img = new Image();
      img.src = url;
      window.open(url, "neuesDokument");

      //var blob = new Blob(img, {type: "data:image/svg+xml;utf-8"});
      FileSaver.saveAs(img.src, "img.svg");
    },
    drop: async function(event) {
      event.preventDefault();
      var file = event.dataTransfer.files[0];
      var reader = new FileReader();
      var assignDimensions = this.assignDimensions;
      var rasterSrc = this.rasterSrc;
      var updateRasterSrc = this.updateRasterSrc;

      reader.onload = async function(event) {
        var target = event.target!
        updateRasterSrc(target.result);
      };
      reader.readAsDataURL(file);
    },
    async redraw() {
      this.showPrerenderedImage = false;
      this.assignDimensions(this.rasterSrc);
    },
    updateRasterSrc(newRasterSrc) {
      this.rasterSrc = newRasterSrc;
    },
    assignDimensions(rasterSrc) {
      var imgHeight;
      var imgWidth;
      var draw = this.draw;
      function determineImageDimensions(this) {
        imgHeight = this.height;
        imgWidth = this.width;
        draw(imgHeight, imgWidth); //call it here to ensure image is properly loaded first
        return;
      }

      var myImage = new Image();
      myImage.name = rasterSrc;
      myImage.onload = determineImageDimensions;
      myImage.src = rasterSrc;
    },
    draw(height, width) {
      /* 
        Some improvements:
            - instead of selecting a random one, select a deterministic box. Do this through 
            BFS or DFS. Let the distance to the highlighted region determine a probability of 
            continuing to split. Advantage: can keep a priority queue instead of an array.
            - the degree of splitting to create visually appealing images should be automatically
            determined based ona few factors:
                * image dimensions
                * size of highlighted region
            - allow user to draw the highlighted region, see 
            http://paperjs.org/tutorials/paths/smoothing-simplifying-flattening/
    */

      var debug = this.debug;
      var resolution = this.resolution;
      var backgroundColor = new paper.Color("black");
      var applyEdgesToCircles = true;
      var showBackground = true;
      var ratioInnerCircle = 0.3;
      var circleStrokeColor = new paper.Color("black");
      var circleStrokeWidth = 1;


      var canvas = <HTMLCanvasElement>document.getElementById("myCanvas")!;

      canvas.height = height;
      canvas.width = width;
      paper.setup(canvas);

      var raster = new paper.Raster({
        crossOrigin: "Anonymous",
        source: this.rasterSrc,
        position: paper.view.center
      });

      var setExportSvg = this.setExportSvgSrc;

      raster.on("load", main);

      function main() {
        raster.fitBounds(paper.view.bounds); //for nicer display - probably not good in reality?
        raster.scale(0.8)
        var innerRadius =
          (ratioInnerCircle *
            Math.sqrt((raster.width * raster.height) / resolution)) /
          2;
        var outerRadius =
          Math.sqrt((raster.width * raster.height) / resolution) / 2;
        var nHeight = raster.height / (2 * outerRadius);
        var nWidth = raster.width / (2 * outerRadius);

        var nBoxesUp = raster.height / (2 * outerRadius);
        var nBoxesRight = raster.width / (2 * outerRadius);

        var originals = new paper.Group({ insert: false }); // Don't insert in DOM.

        // Make a ring using subtraction of two circles:
        var innerCircle = new paper.Path.Circle({
          position: paper.view.center,
          radius: innerRadius,
          parent: originals,
          fillColor: "blue"
        });

        var outerCircle = new paper.Path.Circle({
          position: paper.view.center,
          radius: outerRadius,
          parent: originals,
          fillColor: "white"
        });

        var ring = outerCircle.subtract(innerCircle);
        innerCircle.visible = false;
        outerCircle.visible = false;

        var ringGroup = new paper.Group({ insert: true });

        for (var i = 0; i < nWidth - 1; i++) {
          for (var j = 0; j < nHeight - 1; j++) {
            //originals.position = raster.bounds.topLeft.add([outerRadius,outerRadius]).add([2*i*outerRadius, 2*j*outerRadius])

            var r = ring.clone();
            r.parent = ringGroup;
            r.visible = true;
            if (applyEdgesToCircles) {
              r.strokeColor = circleStrokeColor; //
              r.strokeWidth = circleStrokeWidth; //stroke great a nice visual effect
            }
            r.position = raster.bounds.center
              .add(new paper.Point(outerRadius, outerRadius))
              .add(
                new paper.Point(
                  2 * (i - nWidth / 2) * outerRadius +
                    (raster.width - (nWidth - 1) * 2 * outerRadius) / 4,
                  2 * (j - nHeight / 2) * outerRadius +
                    (raster.height - (nHeight - 1) * 2 * outerRadius) / 4
                )
              );
            r.fillColor = raster.getAverageColor(r.bounds);
          }
        }
        raster.visible = false;

        ringGroup.visible = true;

        if (showBackground) {
          var a1 = new paper.Point(
            (outerRadius + innerRadius) / 2,
            (outerRadius + innerRadius) / 2
          );
          var bg = new paper.Shape.Rectangle(
            ringGroup.bounds.topLeft.add(a1),
            ringGroup.bounds.bottomRight.subtract(a1)
          );
          bg.visible = true;
          bg.fillColor = backgroundColor;
          bg.opacity = 1;
          bg.sendToBack();
        }

        paper.view.zoom = 1;

        if (debug) {
          raster.visible = true;
          raster.opacity = 0.9;
          paper.view.zoom = 0.5;

          paper.project.layers[0].children.map(function(e) {
            e.selected = true;
            return external;
          });
        }



        setExportSvg(paper.project.exportSVG({asString:true}))

      }

    }
  }
});
</script>

<style scoped>
/* Scale canvas with resize attribute to full size */
canvas[resize] {
  width: 100%;
  height: 100%;
}

.raster-input {
  max-height: auto;
  max-width: 100%;
  width: 100%;
}

.raster-output {
  max-height: auto;
  width: 100%;
}

.raster-prerendered-output {
  max-height: auto;
  max-width: 100%;
}
</style>

