<template>
  <div>
    <div @drop="drop">
      <img :src="rasterSrc" class="raster-input" />
    </div>
    <q-banner label="Redraw" class="bg-teal text-white text-center">
      <div class="row">
        <div class="col-6">
          <q-btn flat @click="redraw" label="Redraw" />
        </div>
        <div class="col-6">
          <q-btn flat @click="exportToSvg" label="Export" />
        </div>
      </div>
    </q-banner>
    <div>
      <div v-if="showPrerenderedImage">
        <q-img :src="prerenderedImageSource" />
      </div>
      <div v-else class="raster-output">
        <canvas id="myCanvas" resize="true"></canvas>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import paper from "paper";
import Vue from "vue";
import FileSaver from "file-saver";

export default Vue.extend({
  data() {
    return {
      rasterScale: 1,
      showPrerenderedImage: true,
      prerenderedImageSource: "mathart/human.jpeg",
      nBoxes: 200,
      rasterSrc: "mathart/human.jpeg",
      exportedSvg: "",
      exportedHref: "mathart/human.jpeg",
      zoom: 1,
      scale: 1,
      aimForSquares: true,
      debug: true,
      mosaic: true,
      mosaicColor: "white",
      pickBasedOnDistance: true, //mean to consider a few points and make it more likely to split close to them
      focalCircleRadius: 40, //control size of highlighted region
      focalCircleCenter: [140, 90], //control location of highlighted region
      splitPerfectly: false //means to always pick the first element from the array
    };
  },
  watch: {
    rasterSrc: function(newRasterSrc, oldRasterSrc) {
      this.assignDimensions(newRasterSrc);
    },
    nBoxes: function(newRasterSrc, oldRasterSrc) {
      this.redraw();
    }
  },
  methods: {
    setExportSvgSrc: function(text) {
      this.exportedSvg = text;
      this.exportedHref =
        "data:image/svg+xml;utf-8," + encodeURIComponent(this.exportedSvg);
    },
    exportToSvg: function(event) {
      var fileName = "custom.svg";
      var url = this.exportedHref;
      var img = new Image();
      img.src = url;
      console.log(img.width);
      console.log(url);
      window.open(url, "neuesDokument");

      //var blob = new Blob(img, {type: "data:image/svg+xml;utf-8"});
      FileSaver.saveAs(img.src, "img.svg");
    },
    drop: async function(event) {
      event.preventDefault();
      var file = event.dataTransfer.files[0];
      var reader = new FileReader();
      var assignDimensions = this.assignDimensions;
      var rasterSrc = this.rasterSrc;
      var updateRasterSrc = this.updateRasterSrc;

      reader.onload = async function(event) {
        var target = event.target!;
        updateRasterSrc(target.result);
      };
      reader.readAsDataURL(file);
    },
    async redraw() {
      this.showPrerenderedImage = false;
      this.assignDimensions(this.rasterSrc);
    },
    updateRasterSrc(newRasterSrc) {
      this.rasterSrc = newRasterSrc;
    },
    assignDimensions(rasterSrc) {
      var imgHeight;
      var imgWidth;
      var draw = this.draw;
      function determineImageDimensions(this) {
        imgHeight = this.height;
        imgWidth = this.width;
        draw(imgHeight, imgWidth); //call it here to ensure image is properly loaded first
        return;
      }

      var myImage = new Image();
      myImage.name = rasterSrc;
      myImage.onload = determineImageDimensions;
      myImage.src = rasterSrc;
    },
    draw(height, width) {
      /* 
        Some improvements:
            - instead of selecting a random one, select a deterministic box. Do this through 
            BFS or DFS. Let the distance to the highlighted region determine a probability of 
            continuing to split. Advantage: can keep a priority queue instead of an array.
            - the degree of splitting to create visually appealing images should be automatically
            determined based ona few factors:
                * image dimensions
                * size of highlighted region
            - allow user to draw the highlighted region, see 
            http://paperjs.org/tutorials/paths/smoothing-simplifying-flattening/
    */

      //this.assignDimensions()
      //var width = this.width;
      //var height = this.height;
      //var height = height
      var nBoxes = this.nBoxes;
      var zoom = this.zoom;
      var scale = this.scale;
      var splitPerfectly = this.splitPerfectly;
      var aimForSquares = this.aimForSquares;
      var debug = this.debug;
      var mosaic = this.mosaic;
      var mosaicColor = this.mosaicColor;
      var pickBasedOnDistance = this.pickBasedOnDistance;
      var focalCircleRadius = this.focalCircleRadius;

      var focalCircleCenter = new paper.Point(
        this.focalCircleCenter[0],
        this.focalCircleCenter[1]
      );

      var canvas = <HTMLCanvasElement>document.getElementById("myCanvas")!;

      canvas.height = height;
      canvas.width = width;
      //paper.view.viewSize =new paper.Size(this.widthViewSize, this.heightViewSize)

      paper.setup(canvas);

      //defer this until canva is set up
      var focalCircle = new paper.Path.Circle(focalCircleCenter, focalCircleRadius);

      var raster = new paper.Raster({
        crossOrigin: "anonymous",
        source: this.rasterSrc,
        position: paper.view.center
      });

      raster.selected = false;
          raster.fitBounds(paper.view.bounds);
        raster.width = width;
        raster.height = height;


      var arr: paper.Shape.Rectangle[] = [
        new paper.Shape.Rectangle(raster.bounds)
      ];

      raster.on("load", main);

      var setExportSvg = this.setExportSvgSrc;

      async function main() {

        var maxDistance = Math.max(
          focalCircleCenter.getDistance(raster.bounds.topLeft) -
            focalCircleRadius,
          focalCircleCenter.getDistance(raster.bounds.topRight) -
            focalCircleRadius,
          focalCircleCenter.getDistance(raster.bounds.bottomLeft) -
            focalCircleRadius,
          focalCircleCenter.getDistance(raster.bounds.bottomRight) -
            focalCircleRadius
        );

        var maxArea = raster.bounds.area;

        var getDistance = function(position) {
          var distance = Math.max(
            focalCircleCenter.getDistance(position) - focalCircleRadius,
            0
          );
          return distance;
        };

        var probs = [0.0];

        var probabilityOfSplitting = function(position, area) {
          var dist = getDistance(position);
          //var nSplits = Math.sqrt(maxArea/area)
          var nSplits = -Math.log2(area / maxArea);
          var a = 2;
          var p = 2 ** -nSplits;
          probs.push(p);

          var splitRule = Math.min(1 * (maxDistance / dist) ** 2, 4);

          var f = function(x) {
            //shifted sigmoid
            return 1 - 1 / (1 + Math.exp(6 * (0.5 - x)));
          };

          if (nSplits < 6) {
            return 1;
          }

          if (nSplits > 10) {
            return 0;
          } else {
            return f(dist / maxDistance);
          }
        };

        var doSplit = function(position, area) {
          var p = probabilityOfSplitting(position, area);
          var decision = Math.random() < p;
          return decision;
        };

        var processed: paper.Shape.Rectangle[] = [];

        while (arr.length > 0 && arr.length < 512 && processed.length < 10000) {
          var boundingRectShape = arr.pop()!;
          var boundingRect = boundingRectShape.bounds;

          if (doSplit(boundingRect.center, boundingRect.area)) {
            if (pickBasedOnDistance) {
              //ensure we split a bit first
              var containedInFocalCircle =
                focalCircle.contains(boundingRect.topLeft) &&
                focalCircle.contains(boundingRect.topRight) &&
                focalCircle.contains(boundingRect.bottomLeft) &&
                focalCircle.contains(boundingRect.bottomRight);

              if (containedInFocalCircle) {
                processed.push(boundingRectShape);
                continue;
              }
            }


            if (aimForSquares) {
              var splitHorizontally = boundingRect.height < boundingRect.width;
            } else {
              var splitHorizontally = Math.random() < 0.5;
            }

            //always aim for squares
            if (splitHorizontally) {
              var x0 = boundingRect.topLeft;
              var y0 = boundingRect.bottomCenter;
              var x1 = boundingRect.topCenter;
              var y1 = boundingRect.bottomRight;
            } else {
              var x0 = boundingRect.topLeft;
              var y0 = boundingRect.rightCenter;
              var x1 = boundingRect.leftCenter;
              var y1 = boundingRect.bottomRight;
            }
            //console.log("x0")
            //console.log(x0)

            var newRectShape1 = new paper.Shape.Rectangle(
              new paper.Rectangle(x0, y0)
            );
            var newRectShape2 = new paper.Shape.Rectangle(
              new paper.Rectangle(x1, y1)
            );

            arr.push(newRectShape1);
            arr.push(newRectShape2);

            //console.log('arr')
            //console.log(arr)
          } else {
            processed.push(new paper.Shape.Rectangle(boundingRect)); //push those which are finished here

            //console.log('processed')
            //console.log(processed)
          }
        }

        console.log(processed.length)
        console.log(arr.length)

        processed.map(function(e) {
          console.log(raster.bounds.width)
          console.log(raster.bounds.height)
          console.log(raster.height)
          console.log(raster.width)
          e.fillColor = raster.getAverageColor(e.bounds);
          e.strokeColor = raster.getAverageColor(e.bounds);
          //e.selected = true
          e.selectedColor = new paper.Color("green");
          return external;
        });

        console.log("aaa")

        arr.map(function(e) {
          e.fillColor = raster.getAverageColor(e.bounds);
          e.strokeColor = raster.getAverageColor(e.bounds);
          //e.selected = true
          e.selectedColor = new paper.Color("red");
          return external;
        });

        raster.opacity = 1;

        if (pickBasedOnDistance) {
          paper.project.layers[0].children.map(function(e) {
            if (
              e.bounds.center.getDistance(focalCircleCenter) < focalCircleRadius
            ) {
              e.visible = false;
            }
            return external;
          });

          //make visible again in case previous step made it invisible
          raster.visible = true;
        }
        if (mosaic) {
          paper.project.layers[0].children.map(function(e) {
            e.strokeColor = new paper.Color(mosaicColor);
            e.strokeWidth = 0.1;
            return external;
          });
        }

        setExportSvg(paper.project.exportSVG({ asString: true }));
      }

      async function main3() {
        var c = 0;
        var arr: paper.Shape.Rectangle[] = [
          new paper.Shape.Rectangle(raster.bounds)
        ];

        //helper value to detect relative distance to focal point
        var diagonalLength = paper.view.bounds.bottomLeft.getDistance(
          paper.view.bounds.topRight
        );

        var probabilityOfSplitting = function(centerPoint) {
          return (
            (centerPoint.getDistance(focalCircleCenter) - focalCircleRadius) /
            (diagonalLength - focalCircleRadius)
          );
        };

        while (arr.length < nBoxes) {
          if (!splitPerfectly) {
            var priorityValue = Math.random() ** 2; //by adjusting this, can control how likely it is a certain rectangle gets picked, 1-random**0.5 givs a nice painted effect
          } else {
            var priorityValue = 0;
          }

          var randomRectShape = arr.splice(priorityValue * arr.length, 1)[0];
          var boundingRect = randomRectShape.bounds;

          if (pickBasedOnDistance && arr.length > 100) {
            //ensure we split a bit first

            var comparison = probabilityOfSplitting(boundingRect.center);
            var x = Math.random();

            var containedInFocalCircle =
              focalCircle.contains(boundingRect.topLeft) &&
              focalCircle.contains(boundingRect.topRight) &&
              focalCircle.contains(boundingRect.bottomLeft) &&
              focalCircle.contains(boundingRect.bottomRight);

            if (containedInFocalCircle) {
              arr.push(randomRectShape);
              continue;
            }

            //if far away from the important point, then do not change it
            //this factor controls how likely it is you get selected
            if (x < comparison ** 2) {
              //possibly do not split if too far away - still give it a chance!
              if (Math.random() < 1) {
                arr.push(randomRectShape);
                ///console.log("Centre too far way, not splitting!")
                //console.log(boundingRect.center)
                continue;
              }
            }
          }

          if (aimForSquares) {
            var splitHorizontally = boundingRect.height < boundingRect.width;
          } else {
            var splitHorizontally = Math.random() < 0.5;
          }

          //always aim for squares
          if (splitHorizontally) {
            var x0 = boundingRect.topLeft;
            var y0 = boundingRect.bottomCenter;
            var x1 = boundingRect.topCenter;
            var y1 = boundingRect.bottomRight;
          } else {
            var x0 = boundingRect.topLeft;
            var y0 = boundingRect.rightCenter;
            var x1 = boundingRect.leftCenter;
            var y1 = boundingRect.bottomRight;
          }

          var newRectShape1 = new paper.Shape.Rectangle(
            new paper.Rectangle(x0, y0)
          );
          var newRectShape2 = new paper.Shape.Rectangle(
            new paper.Rectangle(x1, y1)
          );

          arr.push(newRectShape1);
          arr.push(newRectShape2);
        }

        arr.map(function(e) {
          e.fillColor = raster.getAverageColor(e.bounds);
          e.strokeColor = raster.getAverageColor(e.bounds);
          return external;
        });

        raster.opacity = 1;
        paper.project.layers[0].scale(scale);

        if (mosaic) {
          paper.project.layers[0].children.map(function(e) {
            e.strokeColor = new paper.Color(mosaicColor);
            e.strokeWidth = 0.1;
            return external;
          });
        }

        if (debug) {
          paper.project.layers[0].children.map(function(e) {
            e.selected = true;
            return external;
          });
        }

        if (pickBasedOnDistance) {
          paper.project.layers[0].children.map(function(e) {
            if (
              e.bounds.center.getDistance(focalCircleCenter) < focalCircleRadius
            ) {
              e.visible = false;
              console.log(`${e.bounds.center} Too close, removing`);
            }
            return external;
          });

          //make visible again in case previous step made it invisible
          raster.visible = true;
        }

        paper.view.zoom = zoom;
        //paper.draw()

        // now you can export to SVG
      }
    }
  }
});
</script>

<style scoped>
/* Scale canvas with resize attribute to full size */
canvas[resize] {
  width: 100%;
  height: 100%;
}

.raster-input {
  max-height: auto;
  max-width: 100%;
  width: 100%;
}

.raster-output {
  max-height: auto;
  width: 100%;
}

.raster-prerendered-output {
  max-height: auto;
  max-width: 100%;
}
</style>