<template>
<div class="bg">
  <a class="github-fork-ribbon" href="https://gitlab.com/erikthornblad/erikthornblad.se" data-ribbon="Fork me on GitLab" title="Fork me on GitLab">Fork me on Gitlab</a>
  <q-layout view="hHh lpR fFf">
    <q-page-container class="q-pl-md q-pt-md content">
            <router-view />
    </q-page-container>
                    <div class="absolute-top-right">
  <language/>
</div>
          <q-page-scroller v-if="this.$q.screen.width > 1200" position="bottom" :scroll-offset="1000" :offset="[0, 100]">
            <q-btn fab icon="keyboard_arrow_up" color="secondary"/>
          </q-page-scroller>


  </q-layout>
</div>
</template>

<script>
if (process.env.PROD){
  var meta = {
    script: {
      googletagsjs: {
        src: 'https://www.googletagmanager.com/gtag/js?id=G-H09YF656YL'
      },
      googletaglayer: {
        src: 'googleanalytics.js'
      }
    }
  }
} else {
  var meta = {}
}

export default {
  name: "MainLayout",
  components: {
    language: require("components/Language.vue").default,
  },
  meta: meta
}
</script>

<style lang="scss">
@media screen and (min-width: 1200px) {
  .content {
    border-left: 8px solid;
    border-left-color: $secondary;
    border-right: 8px solid;
    border-right-color: $secondary;;
  }
}

.q-drawer {
  .q-router-link--exact-active {
    color: rgb(1, 160, 166);

  }
}

.q-drawer {
  .q-router-link--exact-active {
    color: white !important;
  }
}

.bg {
  background-color: rgb(175,238,238,0.6)
}

.content {
  max-width: 100%;
  background-image: url("../assets/building-smaller.jpg");
  background-repeat: repeat;
  background-size: cover;
  height: 3000px;
  max-height: 100%;
  width: 1200px;
  left: 50%;
  transform: translateX(-50%);
  background-position: top;
  position: relative;
}
</style>